{% extends "layout.html.j2" %}

{% block stylesheets %}
  <link rel="stylesheet" href="css/style2.css">
{% endblock stylesheets %} 

{% block meta_description %}Développeur web Symfony2 freelance à Paris, j'ai eu l'occasion de travailler sur de nombreux projets. Et si nous travaillions ensemble ?{% endblock meta_description %}

{% block content%}
<div id="page_content">
    <div style="text-align: right">
        <h3>Contact</h3>
        <p><i class="icon-mail-forward"></i>&nbsp;Mail : <a href="mailto:clement@keiruaprod.fr" class="email">clement [a] keiruaprod.fr</a></p>
        <p><i class="icon-phone"></i> Tel. : <a href="tel:+33625449011" class="tel">06.62.28.01.87</a></p>
    </div>
    <h2>Comment je peux vous aider ?</h2>
    <h3>Développement d'applications métier</h3>
    <ul>
        <li>Conception / analyse.</li>
        <li>Réalisation.</li>
        <li>Utilisation de frameworks, CMS.</li>
        <li>Pilotage d'équipe et de projet</li>
    </ul>
    <h3>Expertise / conseil</h3>
    <ul>
        <li>Bonnes pratiques et industrialisation</li>
        <li>Formation, présentations techniques</li>
        <li>Architecture</li>
        <li>Audit de code source</li>
    </ul>
    <h2></a>Compétences</h2>
    <ul>
        <li>PHP (Symfony), JavaScript (AngularJS).</li>
        <li>j'aime aussi: Go, Python, Rust, Scala</li>
        <li>PostgreSQL, MySQL, MariaDB, Oracle.</li>
        <li>Kafka, RabbitMQ, Redis, Memcached.</li>
        <li>Tests automatisés (unitaires, intégration, de bout en bout, TDD). PHPUnit, Behat.</li>
        <li>Linux, Apache, Nginx</li>
        <li>Conception d'APIs, REST, Micro-services</li>
        <li>Docker, virtualisation.</li>
        <li>Gestion de version (Git), revue de code</li>
        <li>Intégration continue</li>
        <li>Développement agile (SCRUM/Kanban)</li>
        <li>Conduite d'équipes, de projets, de réunions</li>
    </ul>
    <h2>Expériences professionnelles</h2>
    <h4>Deezer - Développeur PHP senior (depuis Septembre 2017)</h4>
    <p class="project-description">Plateforme de streaming musical.</p>
    <ul>
        <li>Accompagnement technique et formation</li>
        <li>Refonte DDD/CQRS d’une grosse codebase legacy</li>
        <li>Mise en place/transmission de bonnes pratiques, présentations techniques</li>
        <li>Tests automatisés (unitaires et fonctionnels)</li>
        <li>Intégration continue (Jenkins), SCRUM, Jira</li>
        <li>Problèmatiques de fort traffic</li>
    </ul>
    <p><span class="env">Environnement Technique :</span> Linux, PHP, Symfony 2/3, MySQL, memcache, apache, docker</p>
    <h4>Meetic - Développeur Symfony (Aout 2016 - Juillet 2017)</h4>
    <ul>
        <li>Modernisation de la plateforme meeticaffinity</li>
        <li>Création de l’infrastructure de microservices pour la déclinaison de l’application sur les différentes plateformes mobiles</li>
    </ul>
    <p><span class="env">Environnement Technique :</span> Linux, PHP Symfony 2/3, Oracle/MySQL, Kafka, Cassandra,  memcached, varnish, nginx</p>
    <h4>Evaneos - Développeur Fullstack Symfony, AngularJS (2012 - 2015)</h4>
    <p class="project-description">Evanos est une plateforme de mise en relation de voyageurs avec des agences locales sélectionnées dans le monde entier dans le but d'organiser un voyage sur mesure.</p>
    <ul>
        <li>Conception d'un ERP pour les partenaires de la société dans le domaine du tourisme : définition des besoins avec les utilisateurs, conception, déploiement, évolutions, maintenance.</li>
        <li>Migration du framework de Zend vers Symfony2</li>
        <li>Refonte des outils d'administration présents vers angularJS, conception de nouveaux modules</li>
        <li>Développement et maintenance d'une API Rest consommée par plusieurs applications JavaScript SPA sous angularJS</li>
    </ul>
    <p><span class="env">Environnement Technique :</span> Linux, PHP (Symfony, Zend), JavaScript (AngularJS), PostgreSQL, nginx, memcached, redis, varnish, grunt/gulp, npm</p>
    <h4>Formateur Symfony (depuis 2012)</h4>
    <ul>
        <li>Conception d'une formation Symfony sur 3 jours</li>
        <li>Réalisation de cette formation auprès de PME et de développeurs indépendants</li>
        <li>Coaching sur des outils (Git, PHPUnit) et des bonnes pratiques de développement</li>
    </ul>
    <h2>Projets annexes</h2>
    <a href="https://github.com/keirua"><img src="images/github.com.ico">&nbsp;Profil Github</a>
    <ul>
        <li>Rédaction intégrale du contenu (texte, code) du livre « <a href="https://www.eyrolles.com/Informatique/Livre/developper-avec-symfony2-9782212141313">Développer avec Symfony2</a> »  aujourd'hui publié chez Eyrolles.</li>
        <li>Contribution à la communauté open-source par de la documentation en français, notamment :
            <ul>
                <li>Traduction du tutoriel <a href="http://www.keiruaprod.fr/symblog-fr" rel="nofollow">Symblog</a></li>
                <li>Traduction de la méthodologie « <a href="http://12factor.net" rel="nofollow">12 facteurs</a> »</li>
                <li><a href="http://le-go-par-l-exemple.keiruaprod.fr/" rel="nofollow">Le Go par l’exemple</a></li>
                <li>Rédaction d'articles techniques (<a href="http://blog.keiruaprod.fr" rel="nofollow">http://blog.keiruaprod.fr</a>)</li>
            </ul>
        </li>
        <li>Participation occasionnelle à des hackathons (Ludum Dare, Startup weekend, Welean), à des conférences (SudWeb, JS.everywhere, TakeOff, PolyConf), et des meetups</li>
        <li>Pause professionnelle de Juillet 2015 à Juin 2016 <a href="http://fragmentsdeplanete.fr/">pour voyager</a>.</li>
    </ul>
</div>

{% endblock content%}