<div class="contactinfo">	<i class="icon-mail-forward"></i> <a href="mailto:clement@keiruaprod.fr" class="email">clement [a] keiruaprod.fr</a><br />	<i class="icon-phone"></i> <a href="tel:+33625449011" class="tel">06.62.28.01.87</a></div>