{% extends "layout.html.j2" %}

{% block content %}

<h3>Page introuvable <span>:(</span></h3>

<p>Comme le titre l'indique, la page n'a pu être trouvée.</p>
<p>Retourner à l'<strong><a href="/">accueil</a></strong> ?</p>

{% endblock content %}